@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply px-5;
    @apply py-[50px];
  }

  h1 {
    @apply text-[50px];
    @apply leading-[70px];
    @apply text-[#757575];
    @apply font-Poppins;
    @apply font-bold;
  }

  /* h2 {
    @apply text-[18px];
    @apply text-[#757575];
    @apply font-Poppins;
    @apply font-bold;
    @apply text-center;
  }

  h3 {
    @apply text-[18px];
    @apply text-[#757575];
    @apply font-Poppins;
    @apply font-bold;
    @apply text-center;
  } */

  span {
    @apply text-[50px];
    @apply leading-[70px];
    @apply text-[#98C1FF];
    @apply font-Poppins;
    @apply font-bold;
  }

  p {
    @apply font-DMSans;
    @apply text-[16px];
    @apply text-[#757575];
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/DMSans-Regular.ttf") format("truetype");
  }
}
